@using Umbraco.Cms.Web.Common.PublishedModels;'
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "_Layout.cshtml";
}

<head>
    <title>Home</title>
    <link rel="stylesheet" href='@Url.Content("~/css/umbraco-starterkit-style.css")' />
    <link rel="stylesheet" href="/css/App.css" />
</head>




          <div class="intro">
            <div class="container">
                <div class="content">
            <div class="content-left">
                        <h1>We Provide The Best Business Solutions</h1>
                        <p>Establish your vision and value proposition and turn them into testable prototypes.</p>
                        <div class="buttons">
                            <button>Get Consulting <i class="fa-regular fa-arrow-up-right"></i></button>
                            <button>Learn More <i class="fa-regular fa-arrow-up-right"></i></button>
                        </div>
                    </div>
                    <div class="right-image">
                        <img src="/images/Image.png" />
                    </div>
                </div>
            </div>
        </div>
        
                <div class="companies">
            <div class="container">
                <div class="companies-box">
                    <img src="/images/Paperz.png" alt="Paperz" />
                    <img src="/images/Dorfus.png" alt="Dorfus" />
                    <img src="/images/Martino.png" alt="Martino" />
                    <img src="/images/Square.png" alt="Square" />
                    <img src="/images/Gobona.png" alt="Gobana" />
                </div>
            </div>
        </div>
        
                <div class="features">
            <div class="box">
                <div class="content">

                    <div class="left">
                        <p>Features</p>
                        <h2>Our Accounting is trusted by thousands of companies</h2>
                        <button>Learn More <i class="fa-regular fa-arrow-up-right"></i></button>
                    </div>

                    <div class="right">
                        <div class="top">

                    <div class="featureBox">
                        <img src="/images/BusinessAdvice.png" alt="" />
                        <h3>Business Advice</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </div>

                    <div class="featureBox">
                        <img src="/images/Startup.png" alt="" />
                        <h3>Startup Business</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                        </div>

                        <div class="bottom">
                    <div class="featureBox">
                        <img src="/images/Financial.png" alt="" />
                        <h3>Financial Advice</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="featureBox">
                        <img src="/images/Risk.png" alt="" />
                        <h3>Risk Management</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
                <div class="about">
            <div class="container">
                <div class="left">
                    <img src="/images/SamanthaBrown.png" alt="" />

                    <div class="textbox">
                        <p class='name'>Samantha Brown, <span>Founder</span></p>
                        <p class='text'>"Lorem ipsum dolor sit amet consectetur adipisicing elit."</p>
                    </div>
                </div>

                <div class="right">

                    <div class="content">
                        <p class='about'>About Company</p>
                        <h2>We Are Business Consulting & Credit Repair Experts</h2>
                        <p class='t1'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam officiis quas assumenda esse obcaecati? Ex esse error voluptates iure vel totam eos.
                        </p>
                        <p class='t2'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis esse quasi incidunt adipisci accusantium libero provident voluptate amet.</p>
                    </div>


                    <div class="buttons">
                        <button>Learn More <i class="fa-regular fa-arrow-up-right"></i></button>
                        <button><i class="fa-solid fa-play"></i></button>
                        <p>Intro Video</p>
                    </div>
                </div>
            </div>
        </div>
        
                <div class="services">
                    <div class="container">
                        <div class="title">
                            <p>Our Services</p>
                            <h3>We Provide The Best Service For Consulting</h3>
                        </div>

                        <div class="info-boxes">
                                    <div class="servicebox">
                        <div class="line"></div>

            <div class="box-title">
                <h4>Title</h4>
            </div>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus.</p>

            <div class="button-wrapper">
                <button><i class="fa-light fa-arrow-right"></i></button>
            </div>

        </div>
        <div class="servicebox">
                        <div class="line"></div>

            <div class="box-title">
                <h4>Title</h4>
            </div>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus.</p>

            <div class="button-wrapper">
                <button><i class="fa-light fa-arrow-right"></i></button>
            </div>

        </div>
        <div class="servicebox">
                        <div class="line"></div>

            <div class="box-title">
                <h4>Title</h4>
            </div>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus.</p>

            <div class="button-wrapper">
                <button><i class="fa-light fa-arrow-right"></i></button>
            </div>

        </div>
        <div class="servicebox">
                        <div class="line"></div>

            <div class="box-title">
                <h4>Title</h4>
            </div>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus.</p>

            <div class="button-wrapper">
                <button><i class="fa-light fa-arrow-right"></i></button>
            </div>

        </div>
                </div>

                <div class="bottom-wrapper">
                    <button>Browse Services <i class="fa-regular fa-arrow-up-right"></i></button>
                </div>

            </div>
        </div>
        
                <div class="choose-us">
            <div class="container">

                <div class="left">


                    <div class="choose-header">
                        <p>Why Choose Us</p>
                        <h3>Why We Are The Best Business Consulting Agency</h3>
                    </div>

                    <div class="choose-boxes">


                        <div class="choose-box">

                            <div class='icon'>
                                <img src="/images/Frame23.png" alt="Thumbs up icon" />
                            </div>

                            <div class="text">
                                <h5>Process Excellence</h5>
                                <p>Lorem, ipsum dolor sit amet consectetur.</p>
                            </div>

                        </div>

                        <div class="choose-box">

                            <div class='icon'>
                                <img src="/images/Penta.png" alt="Thumbs up icon" />
                            </div>

                            <div class="text">
                                <h5>Strategic Planning</h5>
                                <p>Lorem, ipsum dolor sit amet consectetur.</p>
                            </div>

                        </div>

                        <div class="choose-box">

                            <div class='icon'>
                                <img src="/images/Pen.png" alt="Thumbs up icon" />
                            </div>

                            <div class="text">
                                <h5>Experience Design</h5>
                                <p>Lorem, ipsum dolor sit amet consectetur.</p>
                            </div>

                        </div>

                        <div class="choose-box">

                            <div class='icon'>
                                <img src="/images/Head.png" alt="Thumbs up icon" />
                            </div>

                            <div class="text">
                                <h5>Artificial Inteligence</h5>
                                <p>Lorem, ipsum dolor sit amet consectetur.</p>
                            </div>

                        </div>
                    </div>



                </div>

                <div class="right">

                    <img class='fore' src="/images/Women.png" alt="" />

                    <img class='back' src="/images/BG.png" alt="" />

                </div>
            </div>
        </div>
        
                <div class="projectCase">

            <div class="header">
                <p>Project & Case Studies</p>
                <h3>Let’s Looks At Our Global Projects</h3>
            </div>
            <div class="container">


                <div class="articles-big">

                    <div class="article-big">

                        <img src="/images/Business.png" alt="" />
                        <h5 class='article-title'>Grow your business</h5>

                        <div class="border"></div>

                        <div class="bottom-wrapper">
                            <p class='read-more'>Read More <i class="fa-regular fa-arrow-up-right"></i></p>
                        </div>


                    </div>

                    <div class="article-big">

                        <img src="/images/Res.png" alt="" />
                        <h5 class='article-title'>Grow your business</h5>

                        <div class="border"></div>

                        <div class="bottom-wrapper">
                            <p class='read-more'>Read More <i class="fa-regular fa-arrow-up-right"></i></p>
                        </div>


                    </div>

                    <div class="article-big">

                        <img src="/images/notes.png" alt="" />
                        <h5 class='article-title'>Grow your business</h5>

                        <div class="border"></div>

                        <div class="bottom-wrapper">
                            <p class='read-more'>Read More <i class="fa-regular fa-arrow-up-right"></i></p>
                        </div>


                    </div>

                    <div class="article-big">

                        <img src="/images/mac.png" alt="" />
                        <h5 class='article-title'>Grow your business</h5>

                        <div class="border"></div>

                        <div class="bottom-wrapper">
                            <p class='read-more'>Read More <i class="fa-regular fa-arrow-up-right"></i></p>
                        </div>


                    </div>
                </div>

                <div class="button-wrapper">
                    <button>All Recent Projects <i class="fa-regular fa-arrow-up-right"></i></button>
                </div>


            </div>
        </div>
        
                <div class="team">
            <div class="container">

                <div class="team-header">


                    <div class="top">
                        <p>Meet Our Team</p>
                    </div>

                    <div class="bottom">
                        <h4>Experience Our Team Members</h4>
                        <button>Browse Team <i class="fa-regular fa-arrow-up-right"></i></button>
                    </div>


                </div>

                <div class="team-members">
                    <div class="member">

                        <img src="/images/Kristine.png" alt="" />

                        <h5>Kristine Palmer</h5>

                        <p>Chief Operations Officer</p>

                    </div>

                    <div class="member">

                        <img src="/images/Mark.png" alt="" />

                        <h5>Mark Aubri</h5>

                        <p>Senior Consultant</p>

                    </div>

                    <div class="member">

                        <img src="/images/Kim.png" alt="" />

                        <h5>Kimberly Hansen</h5>

                        <p>Senior Consultant</p>

                    </div>

                    <div class="member">

                        <img src="/images/Justin.png" alt="" />

                        <h5>Justin Willoman</h5>

                        <p>Senior Tech Consultant</p>

                    </div>
                </div>


                <div class="dots">
                    <div class="dot"></div>
                    <div class="dot-selected"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>

            </div>
        </div>
        
                <div class="testimonial">
            <div class="container">

                <div class="t-box">

                    <div class="t-header">
                        <h5>Testimonial</h5>
                        <h4>What Our Clients Say</h4>
                    </div>

                    <div class="reviews">
                        <div class="review">

                            <div class="stars">
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                            </div>

                            <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>

                            <div class="profile">
                                <img src="/images/Cassandra.png" alt="" />

                                <div class="profile-info">
                                    <p class='name'>Cassandra Warren</p>
                                    <p class='desc'>Business Manager, Dorfus</p>
                                </div>
                            </div>

                        </div>

                        <div class="review">

                            <div class="stars">
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                            </div>

                            <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>

                            <div class="profile">
                                <img src="/images/Amanda.png" alt="" />

                                <div class="profile-info">
                                    <p class='name'>Amanda Tulling</p>
                                    <p class='desc'>Senior Developer, Square</p>
                                </div>
                            </div>

                        </div>

                        <div class="review">

                            <div class="stars">
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                            </div>

                            <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>

                            <div class="profile">
                                <img src="/images/Jack.png" alt="" />

                                <div class="profile-info">
                                    <p class='name'>Jack McDogglas</p>
                                    <p class='desc'>Key Account Manager, Gobona</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="button-wrapper">
                        <button>All Reviews <i class="fa-regular fa-arrow-up-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
        
                <div class="article-news">
            <div class="container">

                <div class="header">
                    <p>Article & News</p>
                    <div class="wrapper">
                        <h3>Get Every Single Articles & News</h3>
                        <button class='head-btn'>Browse Articles <i class="fa-regular fa-arrow-up-right"></i></button>
                    </div>
                </div>



                <div class="articles">
                    <div class="article">
                        <div class="image">
                            <img src="/images/Teacher.png" alt="Image of a woman" />
                            <div class='date-container'>
                                <p class='date'><span>25</span>Mar</p>
                            </div>
                        </div>


                        <p class='category'>Business</p>
                        <p class='headline'>How To Use Digitalization In The Classroom</p>
                        <p class='desc'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                    </div>

                    <div class="article">
                        <div class="image">
                            <img src="/images/Screen.png" alt="Image of a screen" />

                        </div>


                        <p class='category'>Business</p>
                        <p class='headline'>How To Implement Chat GPT
                            In Your Projects</p>
                        <p class='desc'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                    </div>

                    <div class="article">
                        <div class="image">
                            <img src="/images/Books.png" alt="Image of books" />
                            <div class='date-container'>
                                <p class='date'><span>13</span>Mar</p>
                            </div>
                        </div>


                        <p class='category'>Business</p>
                        <p class='headline'>The Guide To Support
                            Modern CSS Design</p>
                        <p class='desc'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                    </div>
                </div>

                <div class="dots">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>

            </div>
        </div>
        
        <div class="subscribe">
            <div class="container">

                <div class="sub-content">
                    <h3>Get News Updates By Signup </h3>

                    <div class="inp-area">
                        <input placeholder='username@domain.com' type="text" />


                        <button>Subscribe <i class="fa-regular fa-arrow-up-right"></i></button>
                    </div>
                </div>

            </div>
        </div>

