@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "_Layout.cshtml";
}

<head>
    <title>Home</title>
    <link rel="stylesheet" href='@Url.Content("~/css/umbraco-starterkit-style.css")' />
    <link rel="stylesheet" href="/css/App.css" />
</head>

        <div class='news-header'>
            <div class="container">
                <div class="header">
                    <ul>
                        <li>
                            <Link class='link' to="/">Home</Link>
                        </li>
                        <li>
                            <Link class='link' to="/News">News</Link>
                        </li>
                    </ul>

                    <h1>News & Articles</h1>

                </div>
            </div>
        </div>
        
        <div class='NewsArticleViewCollection'>
            <div class="container">
                <h3>Our News & Articles</h3>

                <div class="collection">

                    <div class="article">
                        <div class="image">
                            <img src={Teacher} alt="Image of a woman" />
                            <div class='date-container'>
                                <p class='date'><span>25</span>Mar</p>
                            </div>
                        </div>


                        <p class='category'>Business</p>
                        <p class='headline'>How To Use Digitalization In The Classroom</p>
                        <p class='desc'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                    </div>

                    <div class="article">
                        <div class="image">
                            <img src={Screen} alt="Image of a screen" />

                        </div>


                        <p class='category'>Business</p>
                        <p class='headline'>How To Implement Chat GPT
                            In Your Projects</p>
                        <p class='desc'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                    </div>

                    <div class="article">
                        <div class="image">
                            <img src={Books} alt="Image of books" />
                            <div class='date-container'>
                                <p class='date'><span>13</span>Mar</p>
                            </div>
                        </div>


                        <p class='category'>Business</p>
                        <p class='headline'>The Guide To Support
                            Modern CSS Design</p>
                        <p class='desc'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                    </div>

                    <div class="article">
                        <div class="image">
                            <img src={Teacher} alt="Image of a woman" />
                            <div class='date-container'>
                                <p class='date'><span>25</span>Mar</p>
                            </div>
                        </div>


                        <p class='category'>Business</p>
                        <p class='headline'>How To Use Digitalization In The Classroom</p>
                        <p class='desc'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                    </div>

                    <div class="article">
                        <div class="image">
                            <img src={Screen} alt="Image of a screen" />

                        </div>


                        <p class='category'>Business</p>
                        <p class='headline'>How To Implement Chat GPT
                            In Your Projects</p>
                        <p class='desc'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                    </div>

                    <div class="article">
                        <div class="image">
                            <img src={Books} alt="Image of books" />
                            <div class='date-container'>
                                <p class='date'><span>13</span>Mar</p>
                            </div>
                        </div>


                        <p class='category'>Business</p>
                        <p class='headline'>The Guide To Support
                            Modern CSS Design</p>
                        <p class='desc'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                    </div>

                    <div class="article">
                        <div class="image">
                            <img src={Teacher} alt="Image of a woman" />
                            <div class='date-container'>
                                <p class='date'><span>25</span>Mar</p>
                            </div>
                        </div>


                        <p class='category'>Business</p>
                        <p class='headline'>How To Use Digitalization In The Classroom</p>
                        <p class='desc'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                    </div>

                    <div class="article">
                        <div class="image">
                            <img src={Screen} alt="Image of a screen" />

                        </div>


                        <p class='category'>Business</p>
                        <p class='headline'>How To Implement Chat GPT
                            In Your Projects</p>
                        <p class='desc'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                    </div>

                    <div class="article">
                        <div class="image">
                            <img src={Books} alt="Image of books" />
                            <div class='date-container'>
                                <p class='date'><span>13</span>Mar</p>
                            </div>
                        </div>


                        <p class='category'>Business</p>
                        <p class='headline'>The Guide To Support
                            Modern CSS Design</p>
                        <p class='desc'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                    </div>


                </div>

                <div class="navigationbtns">
                    <div class="navopt">
                        &#60;
                    </div>

                    <div class="navopt">
                        1
                    </div>

                    <div class="navopt">
                        2
                    </div>

                    <div class="navopt">
                        3
                    </div>

                    <div class="navopt">
                        ...
                    </div>

                    <div class="navopt">
                        9
                    </div>
                    <div class="navopt">
                        &#62;
                    </div>

                </div>
            </div>
        </div>
        
        <div class="subscribe">
            <div class="container">

                <div class="sub-content">
                    <h3>Get News Updates By Signup </h3>

                    <div class="inp-area">
                        <input placeholder='username@domain.com' type="text" />


                        <button>Subscribe <i class="fa-regular fa-arrow-up-right"></i></button>
                    </div>
                </div>

            </div>
        </div>