@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.NewsDetailsPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_Layout.cshtml";
}

<head>
    <title>Home</title>
    <link rel="stylesheet" href='@Url.Content("~/css/umbraco-starterkit-style.css")' />
    <link rel="stylesheet" href="/css/App.css" />
</head>


            <div class='news-header'>
                <div class="container">
                    <div class="header">
                        <ul>
                            <li>
                                <Link class='link' to="/">Home</Link>
                            </li>
                            <li>
                                <Link class='link' to="/News">News</Link>
                            </li>
                        </ul>

                        <h1>News & Articles</h1>

                    </div>
                </div>
            </div>

            <section class='detailedNewsSection'>
                <div class="container">

                    <div class="blogContent">

                        <h2>How To Use Digitalization In The Classroom</h2>

                        <div class="blog-info">
                            <p>Mar 25, 2023</p>
                            <div class="dot"></div>
                            <p>Business</p>
                            <div class="dot"></div>
                            <p>Kimberly Hansen</p>
                        </div>

                        <img src="/images/TeacherLarge.png" alt="" />

                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.
                        </p>

                        <p>Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus.
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci. Aenean nec lorem. In porttitor. Donec laoreet nonummy augue. uspendisse dui purus, scelerisque at, vulputate vitae, pretium mattis, nunc. Mauris eget neque at sem venenatis eleifend. Ut nonummy.
                        </p>

                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. unc viverra imperdiet enim. Fusce est. Vivamus a tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci.
                        </p>

                        <p>Aenean nec lorem. In porttitor. Donec laoreet nonummy augue.
                            Suspendisse dui purus, scelerisque at, vulputate vitae, pretium mattis, nunc. Mauris eget neque at sem venenatis eleifend. Ut nonummy.
                        </p>

                        <div class="quote">
                            <img src="/images/quotes.png" alt="" />
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. unc viverra imperdiet enim. Fusce est. Vivamus a tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>

                        <div class="tags">
                            <div class="tag">
                                Digitalization
                            </div>

                            <div class="tag">
                                School
                            </div>

                            <div class="tag">
                                IT
                            </div>

                            <div class="tag">
                                Design
                            </div>

                            <div class="tag">
                                Work
                            </div>

                            <div class="tag">
                                Tech
                            </div>
                        </div>

                    </div>

                    <div class="other">
                        <input type="text" placeholder='Type To Search...' />

                        <div class="recentPosts border">
                            <h3>Recent Posts</h3>

                            <div class="post">
                                <h4>How To Blow Through Capital At An Incredible Rate</h4>
                                <p>Jan 14, 2020</p>
                            </div>

                            <div class="post">
                                <h4>Design Studios That Everyone Should Know About?</h4>
                                <p>Jan 14, 2020</p>
                            </div>


                            <div class="post">
                                <h4>How did we get 1M+ visitors in 30 days without anything!</h4>
                                <p>Jan 14, 2020</p>
                            </div>

                            <div class="post">
                                <h4>Figma On Figma: How We Built Our Website Design System</h4>
                                <p>Jan 14, 2020</p>
                            </div>

                        </div>

                        <div class="categories border">

                            <h3>Categories</h3>

                            <div class="category">
                                Technology  -  <span>20 Posts</span>
                            </div>

                            <div class="category">
                                Freelancing -  <span>07 Posts</span>
                            </div>

                            <div class="category">
                                Writing    -  <span>16 Posts</span>
                            </div>

                            <div class="category">
                                Marketing  -  <span>11 Posts</span>
                            </div>

                            <div class="category">
                                Business  -  <span>35 Posts</span>
                            </div>

                            <div class="category">
                                Education  -  <span>14 Posts</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="article-news detailed">
                <div class="container">

                    <div class="header">
                        <p>Article & News</p>
                        <div class="wrapper">
                            <h3>Get Every Single Articles & News</h3>
                            <button class='head-btn'>Browse Articles <i class="fa-regular fa-arrow-up-right"></i></button>
                        </div>
                    </div>



                    <div class="articles">
                        <div class="article">
                            <div class="image">
                                <img src="/images/Teacher.png" alt="Image of a woman" />
                                <div class='date-container'>
                                    <p class='date'><span>25</span>Mar</p>
                                </div>
                            </div>


                            <p class='category'>Business</p>
                            <p class='headline'>How To Use Digitalization In The Classroom</p>
                            <p class='desc'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                        </div>

                        <div class="article">
                            <div class="image">
                                <img src="~/images/Screen.png" alt="Image of a screen" />

                            </div>


                            <p class='category'>Business</p>
                            <p class='headline'>How To Implement Chat GPT
                                In Your Projects</p>
                            <p class='desc'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                        </div>

                        <div class="article">
                            <div class="image">
                                <img src="/images/Books.png" alt="Image of books" />
                                <div class='date-container'>
                                    <p class='date'><span>13</span>Mar</p>
                                </div>
                            </div>


                            <p class='category'>Business</p>
                            <p class='headline'>The Guide To Support
                                Modern CSS Design</p>
                            <p class='desc'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                        </div>
                    </div>

                    <div class="dots">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>

                </div>
            </div>